{% load static %}
<!-- Features Section -->
<section id="features" class="text-center">
      <div class="container">
        <div class="section-title">
          <h2>Меню от шефа</h2>
        </div>
        <div class="row">
              {% for dish in special %}
              <div class="col-xs-12 col-sm-4">
                <div class="features-item">

                  <h3><a href={{ dish.get_absolute_url }}>{{ dish.title }}</a></h3>

                  <a href={{ dish.get_absolute_url }}>
                      <img src={{ dish.photo }} class="img-responsive" alt="">
{#                    <img src="{% if dish.photo %}{{ dish.photo }}{% else %}{% static "img/no_photo.jpg" %}{% endif %}" class="img-responsive" alt="">#}
                  </a>

                  <a href={% url "cart:cart_add" dish.id %}>Купить</a>

                    <p>{{ dish.desc }}</p>
                </div>
              </div>
              {% endfor %}
        </div>
      </div>
</section>